.overlay {
  background-color: rgb(0 0 0 / 0.4);
  inset: 0px;
  position: fixed;
  z-index: 9;
}

.content {
  background-color: rgb(255 255 255 / 1);
  border-radius: 10px 10px 0 0;
  margin-top: 24px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
  max-height: 85vh;
}

.content_inner {
  background-color: rgb(255 255 255 / 1);
  border-radius: 10px 10px 0 0;
  flex: 1;
}
